/*html {
	 scroll-behavior: smooth;
}*/
body {
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
	background-color: black;
}

body * {
    margin: 0;
    padding: 0;
    border: 0;
}

.logo img{
	width: 60px;
}

.card, .celeste {
	background-color: #2ca2bb;
}

.card-img-top {
	height: 200px;
}
.separador {
	border-bottom: solid 2px #2ca2bb;
}

.icono {
	height: 40px;
	background-color: #2ca2bb;
	text-align: center;
    padding-top: 8px;
}

#somos, #destacadas {
	margin-bottom: 100px;
}

.celeste i{
	padding: 0 5px;
}

.modal {
	color: dimgray;
}