body {
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
	background-color: black;
}

body * {
    margin: 0;
    padding: 0;
    border: 0;
}

.logo img{
	width: 60px;
}

.card {
	background-color: #2ca2bb;
}